{% extends 'base.html.twig' %}

{% block title %}<title>Create new CompteClient</title>{% endblock %}

{% block content %}
    <h1 style="text-align:center;color:white">Create new CompteClient</h1>

{{ include('frontcompte_client/_form.html.twig', {'id': app.user.id}) }}

   <a href="{{ path('app_frontcompte_client', {'id': app.user.id}) }}" class="btn btn-primary" style="width: 150px; display: block; margin: 0 auto;">Back to List</a>
{% endblock %}

