{% extends 'backbase.html.twig' %}

{% block title %}<title>Edit Type</title>{% endblock %}

{% block content %}
    <h1>Edit Type</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_index') }}"class="btn btn-primary" Style='margin-left:600px'>back to list</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
