{% extends 'base.html.twig' %}

{% block title %}
	<title>Reset your password</title>
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-start vh-100 mt-5 bg-gray-100 p-5 rounded-lg">
		<div class="col-md-6">
			{% for flash_error in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<h1 class="text-center">Reset your password</h1>

			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control mb-3'}}) }}
			<button class="btn btn-primary d-block mx-auto">Reset password</button>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
