{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <h1>Edit Type</h1>

    {{ include('typeC/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_typeC_index') }}">back to list</a>

    {{ include('typeC/_delete_form.html.twig') }}
{% endblock %}
