{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

    {{ include('typeC/_form.html.twig') }}

    <a href="{{ path('app_typeC_index') }}">back to list</a>
{% endblock %}
