{% extends 'backbase.html.twig' %}
{% block content %}
    {# send_email.html.twig #}

    <h1>Envoyer un e-mail à {{ agence.getNomAgence() }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.email, { 'label': 'E-mail destinataire' }) }}

    <div class="form-group">
        <label for="message">Contenu du message</label>
        <textarea id="message" name="message" class="form-control" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer l'e-mail</button>

    {{ form_end(form) }}
{% endblock %}